<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stress Level Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Stress Level Analysis</h1>

    <!-- 日付選択フォーム -->
    <form action="{{ url_for('analysis') }}" method="GET">
        <label for="date">日付を選択:</label>
        <input type="date" id="date" name="date" value="{{ selected_date }}" required>
        <button type="submit">表示</button>
    </form>

    {% if plot_url %}
        <h2><a href="{{ url_for('dashboard') }}">メモに戻る</a></h2>
        <img src="data:image/png;base64,{{ plot_url }}" alt="Stress Level Graph">
    {% else %}
        <p>No data available for the selected date.</p>
    {% endif %}


</body>
</html>
