<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログインページ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="/login">
        <label for="username">ユーザーID:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">ログイン</button>
    </form>
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
         <p><a href="/register">新規登録はこちら</a></p>
</body>
</html>
